{% extends 'layout.html.twig' %}

{% block container %}

    <a href="/login">
        <div class="goback"></div>
    </a>

    {% block stylesheets %}

        {{ parent() }}

        <!-- Geolocation CSS -->
        <link rel="stylesheet" href="{{ asset('css/leaflet.css') }}">

    {% endblock stylesheets %}

    <!-- Header picture -->
    <div class="fullWidthPictureContainer">
        <img class="fullWidthPicture" src="{{ asset('images/fullWidth3.jpg') }}" alt="Wild Code School Orléans"/>
    </div>

    <!-- Buttons Wilders/Projects pages -->
    <div class="homeNavigation container-fluid">

        <a href="{{ path('search_wilder') }}">
            <div class="homeNavigationButton shadow">
                WILDERS
            </div>
        </a>

        <a href="{{ path('search_realisation') }}">
            <div class="homeNavigationButton shadow">
                RÉALISATIONS
            </div>
        </a>

    </div>

    <!-- Section 'Le Wildbook' -->
    <section id="wildbook" class="intro-section">
        <div class="homeText row container-fluid">
            <div class="col-lg-offset-3 col-lg-6 noPadding">
                <h2 class="homeTextTitle">Le Wildbook</h2>
                <p class="homeTextParagraph">
                    Depuis 2014, un peu plus de 400 wilders ont été formés sur l’ensemble de nos campus.Le Wild Book se
                    veut
                    un outil pour savoir qui ils sont et découvrir ce sur quoi ils ont pu travailler
                    dans le cadre de leurs formations.
                </p>
            </div>
        </div>
    </section>

    <!-- Body picture -->
    <div class="fullWidthPictureContainer">
        <img class="fullWidthPicture" src="{{ asset('images/fullWidth2.jpg') }}" alt="Wild Code School Orléans"/>
    </div>

    <!-- Section 'Les Wilders' -->
    <section id="wilders" class="intro-section">
        <div class="homeText row container-fluid">
            <div class="col-lg-offset-3 col-lg-6 noPadding">
                <h2 class="homeTextTitle">Les Wilders</h2>
                <p class="homeTextParagraph">
                    La partie “Wilders” propose des pages profils pour l’ensemble des élèves inscrits avec un certain
                    nombre
                    d’informations sur les compétences de chacun dont leur disponibilité pour un contrat de travail ou
                    des
                    missions en freelance.
                </p>
            </div>
        </div>

        <!-- Wilder star -->
        <div class="row container-fluid">
            {{ render(controller('BookBundle:HomeWilder:viewHomeWilder')) }}
            <hr class="homeLine col-lg-offset-3 col-lg-6">
        </div>

    </section>

    <!-- Section 'Notre réseau de Wilders' -->
    <section id="network" class="intro-section">
        <div class="homeText row container-fluid">
            <div class="col-lg-offset-3 col-lg-6 noPadding">
                <h2 class="homeTextTitle">Notre réseau de Wilders</h2>
                <p class="homeTextParagraph">
                    Avec notre réseau de 9 écoles (Lille, Strasbourg, Paris, Fontainebleau, La Loupe, Orléans, Bordeaux,
                    Toulouse & Lyon), les Wilders sont partout en France. Vous avez donc la possibilité de faire des
                    recherches par ville pour trouver le collaborateur donc vous avez besoin.
                </p>
            </div>
        </div>
        <!-- API geolocation -->
        <div class="row container-fluid hidden-xs">
            <div class="col-lg-offset-2 col-lg-8 noPadding" id="mapid"></div>
        </div>
    </section>

    <!-- Section 'Les réalisations' -->
    <section id="projects" class="intro-section">
        <div class="homeText row container-fluid">
            <div class="col-lg-offset-3 col-lg-6 noPadding">
                <h2 class="homeTextTitle">Les réalisations</h2>
                <p class="homeTextParagraph">
                    À la Wild Code School la pratique est au coeur de notre idée de l'apprentissage. Les élèves sont
                    donc
                    amenés à réaliser des projets de sites web ou d’applications, tout au long de leur formation, dont
                    la
                    plupart sont des commandes de vrais clients. Pour cela ils travaillent en groupe, se familiarisant
                    avec
                    les méthodes agiles, pour se préparer dans les meilleures conditions à leur prochaine vie de
                    développeur
                    web ou mobile.
                </p>
            </div>
        </div>
    </section>

    <!-- Footer picture -->
    <div class="fullWidthPictureContainer">
        <img class="fullWidthPicture" src="{{ asset('images/fullWidth4.jpg') }}" alt="Wild Code School Orléans"/>
    </div>

{% endblock container %}

{% block javascripts %}

    {{ parent() }}

    <!-- Geolocation scripts -->
    <script src="{{ asset('js/leaflet.js') }}"></script>
    <script>
        var mymap = L.map('mapid').setView([47.0833, 2.4], 6);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: '{{ TokenMap }}'
        }).addTo(mymap);
        var wildIcon = L.icon({
            iconUrl: '{{ asset('css/images/logoOrangeBlanc.png') }}',
            iconSize: [30, 30], // size of the icon
            iconAnchor: [22, 20], // point of the icon which will correspond to marker's location
            popupAnchor: [-3, -20] // point from which the popup should open relative to the iconAnchor
        });

        {% for school in schools %}
        var pop = "<b>Wild code school</b><br>{{ school.school }}";
        var marker = L.marker([{{ school.location }}], {icon: wildIcon}).addTo(mymap);
        marker.bindPopup(pop);
        {% endfor %}

        {% for wilder in wilders %}
        {% if wilder.location is not empty %}
        var marker2 = L.marker([{{ wilder.location }}+0.000{{ loop.index0 }}]).addTo(mymap);
        marker2.bindPopup("<img class='geolocationPicture' src=\"{{ asset('uploads/'~ wilder.profilPicture ) }}\"/><p><a href=\"{{ path
        ('profile_wilder', { 'id': wilder.id }) }}\"></p> {{ wilder.lastname }} {{ wilder.firstname }} ");
        {% endif %}
        {% endfor %}

        {% for school in schools %}
        var marker = L.marker([{{ school.location }}], {icon: wildIcon}).addTo(mymap);
        marker.bindPopup("<b>Wild code school</b><br>{{ school.school }}").openPopup();
        {% endfor %}

    </script>

{% endblock javascripts %}