{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <div class="container">

            <div class="projectTitleDetail">
                <h1>{{ project.title }}<small> - {{ project.customer }}</small>
                </h1>
                <h2 class=" subtitleProjectCustomer">
                    <a class="text-muted" href="{{ project.path }}" target="_blank">{{ project.path }}</a></p>
                </h2>
            </div>
            <hr/>

            <div class="imgPrincipaleProject text-center ">
                <img class=""
                        {% for picture in project.pictures %}
                            {% if picture.isPrincipal == true %}
                                src="{{ asset('uploads/'~ picture.path|basename ) }}"
                                alt="{{ projectSearch.project.title }}"
                            {% endif %}
                        {% else %}
                            src="{{ asset('images/LOGO_COLO.png') }}"
                        {% endfor %}
                >
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="subtitleProjectPromotion">Réalisé par les wilders de
                        {{ project.school.school }} -
                        {% for projectWilder in project.projectWilders %}
                            {% if loop.first %}
                                <span class="text-muted">
                                        {{ projectWilder.wilder.promotion.promotion }}
                                    </span>
                            {% endif %}
                        {% endfor %}

                    <ul class="wilders text-center  ">
                        {% for projectWilder in project.projectWilders if projectWilder.visibility %}
                            <li><a class="lienWilders"
                                   href="{{ path('profile_wilder', { 'id': projectWilder.wilder.id }) }}">
                                    {{ projectWilder.wilder.firstname }} {{ projectWilder.wilder.lastname }}</a>
                            </li>
                            {% if  loop.index != loop.parent|length %}
                                <span class="delim">|</span>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    </p>

                </div>
            </div>

            <div class="row">
                <hr/>
            </div>

            <div class="row projectContent">
                <div class="col-md-3 projectContentLeft">
                    <div class="projectType">
                        <p class="projectType">{{ project.category.label }}</p>
                    </div>
                    <div class="projectStatut">
                        <p class="projectType">{{ project.status }}</p>
                    </div>
                    <div class="langages">
                        <h4>LANGAGES</h4>
                        <ul class="langages">
                            {% for languages in project.languages %}
                                <li class="langages">{{ languages.language }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="technologies">
                        <h4>TECHNOLOGIES</h4>
                        <ul class="technologies">
                            {% for technologies in project.technologies %}
                                <li class="technologies">{{ technologies.technology }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tags">
                        <ul>
                            {% for tags in project.tags %}
                                <li>#{{ tags.tag }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


                <div class="col-md-8 col-md-offset-1">
                    <div class="shortDescription">
                        <p class="shortDescription">{{ project.summary }}</p>
                    </div>
                    <div class="description">
                        <p class="description">{{ project.description }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <hr/>
            </div>

            <div class="row imgProject">
                {% for picture in project.pictures %}
                    <div class="col-xs-12 col-lg-6">
                        <a href="#" class="thumbnail">
                            <img src="{{ asset('uploads/'~ picture.path|basename ) }}" id="{{ picture.id }}"
                                 data-toggle="modal" data-target="#picture{{ picture.id }}"/>
                        </a>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="picture{{ picture.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-lg modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="{{ asset('uploads/'~ picture.path|basename ) }} " class="img-responsive"/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>

    </div>

{% endblock %}
