{% extends 'layout.html.twig' %}

{% block container %}

    {% block headerPicture %}

        <!-- Header picture -->
        <div class="fullWidthPictureContainer headerPicture">
            <h1 class="headerTitle">LES RÉALISATIONS</h1>
            <img class="fullWidthPicture" src="{{ asset('images/fullWidth2.jpg') }}" alt="Wild Code School Orléans"/>
        </div>

    {% endblock headerPicture %}

    <div class="container">

        <div class="paragraphTitle">
            <h2>Trouver une réalisation</h2>
        </div>

        <div class="search-area">
            <div class="search">
                <div class="row">
                    <div class="row projectAutocompletion">
                        <div class="text-center col-sm-offset-4 col-sm-4 wilderTransition">
                            {{ form_widget(form.Recherche) }}
                            {{ form_errors(form.Recherche) }}
                        </div>
                    </div>

                    <div class="text-center col-sm-offset-4 col-sm-4 wilderTransition">
                        <p class="alternativeText text-center">ou sélectionnez un ou plusieurs critères</p>
                    </div>

                    <div>
                        <hr class="col-xs-10 col-xs-offset-1">
                    </div>

                    <div class="col-lg-12 blocksearch">
                        {{ form_start(form, {'attr':{'id':'form_search_project'}}) }}

                        {{ form_errors(form) }}
                        <div class="row">
                            <div class="col-lg-2 col-lg-offset-1">
                                {{ form_label(form.school,'École') }}
                                {{ form_widget(form.school) }}
                                {{ form_errors(form.school) }}
                            </div>
                            <div class="col-lg-2 col-lg-offset-1">
                                {{ form_label(form.promotion,'Promotion') }}
                                {{ form_widget(form.promotion) }}
                                {{ form_errors(form.promotion) }}
                            </div>
                            <div class="col-lg-2 col-lg-offset-1">
                                {{ form_label(form.category,'Catégorie') }}
                                {{ form_widget(form.category) }}
                                {{ form_errors(form.category) }}
                            </div>

                            <div class="col-lg-2 col-lg-offset-1">
                                <button type="submit" class="submitButton shadow">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>

        <!--Projects list -->
        <div class="list_projects row" id="project-list">
            <div class="row">
                {% for projectSearch in projectsSearch %}
                    {% include 'BookBundle:Front:thumbnail.html.twig' with {'projectSearch': projectSearch} %}
                {% endfor %}
            </div>
        </div>

        <div class="container">

            <div class="row">
                <hr class="col-xs-10 col-xs-offset-1">
            </div>

            <div class="paragraphTitle">
                <h2>La réalisation du moment</h2>
            </div>

            <div class="realisation-focus">
                {{ render(controller('BookBundle:HomeProject:viewHomeProject')) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax_auto.js') }}"></script>
    <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>

    <script>
        $('#book_bundle_project_search_type_school').on('hidden.bs.select', function (e) {
            $('#form_search_project').submit();
        });
    </script>

{% endblock javascripts %}