{% extends 'layout.html.twig' %}

{% block container %}

    {% block headerPicture %}

        <!-- Header picture -->
        <div class="fullWidthPictureContainer headerPicture">
            <h1 class="headerTitle">LES RÉALISATIONS</h1>
            <img class="fullWidthPicture" src="{{ asset('images/fullWidth2.jpg') }}" alt="Wild Code School Orléans"/>
        </div>

    {% endblock headerPicture %}

    <h2 class="paragraphTitle text-center">Trouver une promotion</h2>

    <!-- Project search form -->
    <div class="text-center">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <!-- Autocompletion -->
        <div class="row">
            <div class="col-xs-12">
                {{ form_widget(form.Recherche) }}
                {{ form_errors(form.Recherche) }}
            </div>
        </div>
        <div class="row">
            <p class="col-xs-12 alternativeText">ou sélectionnez un ou plusieurs critères</p>
        </div>

        <div>
            <hr class="col-xs-10 col-xs-offset-1">
        </div>

        <!-- Select fields -->


        <!-- École selector -->
        <div class="col-xs-12">

            <!-- Label -->
            <div class="selectTitle">
                {{ form_label(form.school,'ÉCOLES') }}
            </div>
            <!-- Select field -->
            <div>
                {{ form_widget(form.school) }}
            </div>
            <!-- Error -->
            <div class="selectError">
                {{ form_errors(form.school) }}
            </div>

        </div>

        <!-- Promotion selector -->
        <div class="col-xs-12">

            <!-- Label -->
            <div class="selectTitle">
                {{ form_label(form.promotion,'PROMOTION') }}
            </div>
            <!-- Select field -->
            <div>
                {{ form_widget(form.promotion) }}
            </div>
            <!-- Error -->
            <div>
                {{ form_errors(form.promotion) }}
            </div>

        </div>

        <!-- Category selector -->
        <div class="col-xs-12">

            <!-- Label -->
            <div class="selectTitle">
                {{ form_label(form.category,'CATEGORIE') }}
            </div>
            <!-- Select field -->
            <div>
                {{ form_widget(form.category) }}
            </div>
            <!-- Error -->
            <div>
                {{ form_errors(form.category) }}
            </div>

        </div>

        <!-- Submit button -->
        <div class="col-xs-12">
            <button type="submit" class="submitButton shadow">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </div>

        {{ form_end(form) }}

    </div>

    <!--Projects list -->
    <div class="list_projects row" id="project-list">
        <div class="row">
            {% for projectSearch in projectsSearch %}
                {% include 'BookBundle:Front:thumbnail.html.twig' with {'projectSearch': projectSearch} %}
            {% endfor %}
        </div>
    </div>

    <div>
        <hr class="col-xs-10 col-xs-offset-1">
    </div>

    <!-- Stared projects -->
    <div class="">

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2 class="paragraphTitle text-center">La réalisation du moment</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                {{ render(controller('BookBundle:HomeProject:viewHomeProject')) }}
            </div>
        </div>

    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax_auto.js') }}"></script>
    <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>

    <script>
        $('#book_bundle_project_search_type_school').on('hidden.bs.select', function (e) {
            $('#form_search_project').submit();
        });
    </script>

{% endblock javascripts %}