

<div class="col-xs-6 col-md-5 vignetteProject">
    <div class="col-md-12 image-listProjects"
        {% for picture in projectSearch.project.pictures %}
        {% if picture.isPrincipal == true %}
         style="background-image: url('../uploads/{{ picture.path|basename }}')"
        {#{% else %}#}
         {#style="background-image: url('/images/LOGO_COLO.png')"#}
    {% endif %}
    {% endfor %}>
    </div>
    <img src="" alt="" class="image" style="width:100%">
    <div class="middle">
        <div class="hoverDispoProject">
            <a href="{{ path('detail_project', { 'id': projectSearch.project.id }) }}">
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </span>
                </button>
            </a>
        </div>
        <a href="{{ path('detail_project', { 'id': projectSearch.id }) }}">
            <img class="img-listProjects"
                    {% for picture in projectSearch.project.pictures %}
                        {% if picture.isPrincipal == true %}
                            src="{{ asset('uploads/'~ picture.path|basename ) }}"
                            alt="{{ projectSearch.project.title }}"
                        {#{% else %}#}
                            {#src="{{ asset('images/LOGO_COLO.png') }}"#}
                            {#alt="{{ projectSearch.project.title }}"#}
                        {% endif %}
                    {% endfor %}>
        </a>
    </div>
    <a href="{{ path('detail_project', { 'id': projectSearch.project.id }) }}"> </a>
    <div class="col-md-12 titreVignetteProject">
        <a href="{{ path('detail_project', { 'id': projectSearch.project.id }) }}">
            <h3>{{ projectSearch.project.title }}</h3></a>
    </div>
</div>