<a href="{{ path('detail_project', { 'id': projectSearch.project.id }) }}">
    <div class="col-md-4 ">
        <figure class="thumbnail project-thumbnail">
            <img class=" img-responsive"
                    {% for picture in projectSearch.project.pictures %}
                        {% if picture.isPrincipal == true %}
                            src="{{ asset('uploads/'~ picture.path|basename ) }}"
                            alt="{{ projectSearch.project.title }}"
                        {% endif %}
                        {% else %}
                            src="{{ asset('images/LOGO_COLO.png') }}"
                    {% endfor %}
            >
            <div class="caption titreVignetteProject">
                <h3>{{ projectSearch.project.title }}</h3>
            </div>
        </figure>
    </div>

</a>