{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <div class="container">

            <div class="row modjoProfilWilder">
                <p>{{ wilder.modjo }}</p>
            </div>

            <div class="row">
                <hr/>
            </div>

            <div class="row profilWilder">
                <div class="col-lg-6 imageProfilWilder">
                    <img src="{{ asset('uploads/'~ wilder.profilPicture|basename ) }}"
                         alt="{{ wilder.firstname }} {{ wilder.lastname }}">
                </div>
                <div class="col-lg-5">
                    <h3 class="firstnameWilder">{{ wilder.firstname }}</h3>
                    <h3 class="lastnameWilder">{{ wilder.lastname }}</h3>
                    <p class="promotionWilder">{{ wilder.promotion.school.school }}
                        / {{ wilder.promotion.promotion }}</p>
                    <p class="dispoWilder">{{ wilder.availability.label }}</p>
                    <p class="freelanceWilder">{{ wilder.freelanceAvailability ? 'Accepte des missions Freelance' }}</p>
                    <p class="websiteWilder"><a class="websiteWilder"
                                                href="{{ wilder.website }}">{{ wilder.website }}</a></p>

                    <div class="socialProWilder">
                        <div class="iconsocial">
                            <a href="{{ wilder.linkedin }}"><i class=" fa fa-linkedin"></i></a>
                        </div>
                        <div class="iconsocial">
                            <a href="{{ wilder.github }}"><i class=" fa fa-github"></i></a>
                        </div>
                        <div class="iconsocial">
                            <a href="{{ asset('uploads/' ~ wilder.cv) }}"><i class=" fa fa-download"></i></a>
                        </div>
                        <div class="iconsocial">
                            <a href="mailto:{{ wilder.contactEmail }}"><i class=" fa fa-envelope"></i></a>
                        </div>
                        <div class="iconsocial">
                            <a href="" class="codewars"><i class="fa fa-codepen"></i> {{ codewars }} Points</a>
                        </div>
                    </div>
                    <div class="socialPersoWilder">
                        <div class="iconsocial">
                            <a href="{{ wilder.twitter }}"><i class=" fa fa-twitter"></i></a>
                        </div>
                        <div class="iconsocial">
                            <a href="{{ wilder.facebook }}"><i class=" fa fa-facebook"></i></a>
                        </div>
                        <div class="iconsocial">
                            <a href="mailto:{{ wilder.contactEmail }}"><i class=" fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <hr/>
            </div>

            <div class="row contentProfilWilder">
                <div class="col-md-3 contentProfilWilderLeft">
                    <div class="langagesWilder">
                        <h4 class="langagesWilder">LANGAGES</h4>
                        <ul class="langagesWilder">{% for languages in wilder.languages %}
                                <li class="langagesWilder">{{ languages.language }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="technologiesWilder">
                        <h4 class="technologiesWilder">TECHNOLOGIES</h4>
                        <ul class="technologiesWilder">{% for technologies in wilder.technologies %}
                                <li class="technologiesWilder">{{ technologies.technology }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="competences">
                        <h4 class="competences">COMPETENCES</h4>
                        <p class="competences">{{ wilder.skill }}</p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-1 contentProfilWilderRight">
                    <div class="bio">
                        <p class="bio">{{ wilder.biography }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <hr/>
            </div>

            <div class="row imgProjectWilder">

                {% for projectsWilder in wilder.projectWilders %}
                    {% include 'BookBundle:Front:thumbnail_wilder_projects.html.twig' with {'projectSearch': projectsWilder} %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
