{% extends 'layout.html.twig' %}

{% block container %}

    {% block headerPicture %}

        <!-- Header picture -->
        <div class="fullWidthPictureContainer headerPicture">
            <h1 class="headerTitle">LES WILDERS</h1>
            <img class="fullWidthPicture" src="{{ asset('images/fullWidth6.jpg') }}" alt="Wild Code School Orléans"/>
        </div>

    {% endblock headerPicture %}

    <!-- Wilder search form -->

    <!-- Subtitle -->
    <h2 class="formTitle">Trouver un Wilder</h2>

    <!-- Autocompletion -->
    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4">
            {#{{ form_label(form.Recherche) }}#}
            {{ form_widget(form.Recherche) }}
            {{ form_errors(form.Recherche) }}
        </div>
    </div>

    <!-- Wider search transition -->
    <p class="wilderTransition">ou sélectionnez un ou plusieurs critères</p>
    <hr class="col-md-8 col-md-offset-2 sectionDivider">

    <!-- Selector fields -->
    {{ form_start(form, {'attr':{'id':'form_search_wilder'}}) }}
    {{ form_errors(form) }}

    <div class="row searchSelectors">

        <!-- Écoles selector -->
        <div class="col-md-2 col-md-offset-2 selector">
            {{ form_label(form.school,'ÉCOLES') }}
            {{ form_widget(form.school) }}
            {{ form_errors(form.school) }}
        </div>

        <!-- Promotions selector -->
        <div class="col-md-2 col-md-offset-1 selector">
            {{ form_label(form.promotion,'PROMOTIONS') }}
            {{ form_widget(form.promotion) }}
            {{ form_errors(form.promotion) }}
        </div>

        <!-- Langages selector -->
        <div class="col-md-2 col-md-offset-1 selector">
            {{ form_label(form.language,'LANGAGES') }}
            {{ form_widget(form.language) }}
            {{ form_errors(form.language) }}
        </div>

        <!-- Submit button -->
        <button class="col-md-1 col-md-offset-1 buttonSubmit">
            <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
        </button>

    </div>

    {{ form_end(form) }}

    <!--Wilders search result -->
    <div class="list_wilders row" id="wild-list">

        <div class="row">

            {% for wilder  in wilders %}
            {% if wilder.userActivation == true and wilder.managerActivation == true %}

            <div class="col-xs-6 col-md-5 vignetteWilder">

                <!-- Wilder picture -->
                <div class="col-md-7 image-listWilders"

                <!-- Disponibility hover -->
                <div class="middle">
                    <div class="hoverDispoWilder">{{ wilder.availability.label }}</div>
                </div>

                <a href="{{ path('profile_wilder', { 'id': wilder.id }) }}">
                    <img class="img-listWilders" src="{{ asset('uploads/'~ wilder.profilPicture ) }}"
                         alt="{{ wilder.firstname }} {{ wilder.lastname }}">
                </a>

            </div>

            <div class="col-md-5 titreVignetteWilder">
                <a href="{{ path('profile_wilder', { 'id': wilder.id }) }}">
                    <h3>{{ wilder.lastname }}</h3></a>
                <h3>{{ wilder.firstname }}</h3>
                <h4>Ecole : {{ wilder.promotion.school.school }}</h4>
                <h5>Promotion : {{ wilder.promotion.promotion }}</h5>

            </div>

            <div class="modjoWilder col-md-12">
                <h4>{{ wilder.modjo }}</h4>
            </div>

        </div>
        {% endif %}
        {% endfor %}

    </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax_auto.js') }}"></script>
    <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>

    <script>
        $('#book_bundle_wilder_search_type_school').on('hidden.bs.select', function (e) {
            $('#form_search_wilder').submit();
        });
    </script>
{% endblock javascripts %}
