{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row col-md-3">

            <h3>Créer une nouvelle promotion</h3>
            <div class="form-group">
                {{ form_start(form) }}

                {{ form_label(form.promotion) }}
                {{ form_widget(form.promotion) }}
                {{ form_errors(form.promotion) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Create" />
            </div>
            {{ form_end(form) }}

            <a href="{{ path('promotion_index') }}" class="btn btn-primary">Retour à la liste</a>

        </div>
    </div>
{% endblock %}
