{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="container-fluid">

        <h3>Créer une nouvelle catégorie</h3>
        <div class="form-group">
            {{ form_start(form) }}

            {{ form_label(form.label) }}
            {{ form_widget(form.label) }}
            {{ form_errors(form.label) }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Créer"/>
            <a href="{{ path('category_index') }}" class="btn btn-default">Retour à la liste</a>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}