{% extends 'base_admin.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <div class="row col-md-4">

            <h1>Liste des Status Wilder</h1>

            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Language</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for language in languages %}
                    <tr>
                        <td><a href="{{ path('language_show', { 'id': language.id }) }}">{{ language.id }}</a></td>
                        <td>{{ language.language }}</td>
                        <td>
                            <a href="{{ path('language_edit', { 'id': language.id }) }}" class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span> edit
                            </a>
                            {{ render(controller('BookBundle:Language:indexDelete', {'id': language.id})) }}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-default" href="{{ path('language_new') }}" role="button">Create a new language</a>

        </div>
    </div>

{% endblock %}
