<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>WCS | ADMIN</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/sidebar-admin.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styleAdmin.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    {% endblock %}

    <link rel="icon" type="image/png" href="{{ asset('images/LOGO_COLO.png') }}"/>
</head>

<body>

<div class="wrap">
    <nav class="nav-bar navbar-inverse" role="navigation">
        <div id="top-menu" class="container-fluid active">
            <a href="https://wildcodeschool.fr/" target="_blank">
                <img class="navbar-brand" src="{{ asset('images/LOGO_COLO.svg') }}" alt="aller à wildcodechool.fr">
            </a>
        </div>
    </nav>

    {% if is_granted('ROLE_ADMIN') %}
        <aside id="side-menu" class="aside" role="navigation">
            <ul class="nav nav-list accordion">
                <li class="nav-header">
                    <div class="link">Mon profil<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="#">Paramètres</a></li>
                        <li><a href="#">Déconnexion</a></li>
                    </ul>
                </li>

                <li class="nav-header">
                    <div class="link">Écoles<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="{{ path('school_index') }}">Liste</a></li>
                        <li><a href="{{ path('campusmanager_index') }}">Campus Managers</a></li>
                        <li><a href="{{ path('promotion_index') }}">Promotions</a></li>
                        <li><a href="{{ path('language_index') }}">Langages</a></li>
                        <li><a href="{{ path('technology_index') }}">Technologies</a></li>
                    </ul>
                </li>

                <li class="nav-header">
                    <div class="link">Wilders<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="{{ path('wilder_index') }}">Profils</a></li>
                        <li><a href="{{ path('availability_index') }}">Disponibilités</a></li>
                    </ul>
                </li>

                <li class="nav-header">
                    <div class="link">Projets<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="{{ path('project_index') }}">Projets</a></li>
                        <li><a href="{{ path('projectwilder_index') }}">Association Projet-Wilders</a></li>
                        <li><a href="{{ path('tag_index') }}">Tags</a></li>
                    </ul>
                </li>
            </ul>
        </aside>

    {% elseif is_granted('ROLE_USER') %}
        <aside id="side-menu" class="aside" role="navigation">
            <ul class="nav nav-list accordion">
                <li class="nav-header">
                    <div class="link">Mon profil<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="#">Paramètres</a></li>
                        <li><a href="#">Déconnexion</a></li>
                    </ul>
                </li>

                <li class="nav-header">
                    <div class="link">Wilders<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="{{ path('wilder_index') }}">Profils</a></li>
                    </ul>
                </li>

                <li class="nav-header">
                    <div class="link">Projets<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="{{ path('project_index') }}">Projets</a></li>
                        <li><a href="{{ path('projectwilder_index') }}">Association Projet-Wilders</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
    {% else %}

        <aside id="side-menu" class="aside" role="navigation">
            <ul class="nav nav-list accordion">
                <li class="nav-header">
                    <div class="link">Mon profil<i class="fa fa-chevron-down"></i></div>
                </li>

                <li class="nav-header">
                    <div class="link">Wilders<i class="fa fa-chevron-down"></i></div>
                </li>

                <li class="nav-header">
                    <div class="link">Projets<i class="fa fa-chevron-down"></i></div>
                </li>
            </ul>
        </aside>

    {% endif %}

    <div class="content">
        <div class="top-bar">
            <a href="#menu" class="side-menu-link burger">
                <span class='burger_inside' id='bgrOne'></span>
                <span class='burger_inside' id='bgrTwo'></span>
                <span class='burger_inside' id='bgrThree'></span>
            </a>
        </div>
        <section class="content-inner row">
            <div class="col-md-offset-1 col-md-10 crud">
                {% block body %}
                {% endblock %}
            </div>
        </section>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/sidebar-admin.js') }}"></script>
    <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
{% endblock %}

</body>

</html>