{% extends 'base_admin.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <div class="row col-md-10">


        <h3>Technologie: id:{{ technology.id }} - {{ technology.technology }}</h3>
        <div class="form-group">
            {{ form_start(edit_form) }}

            {{ form_label(edit_form.technology,'technologie') }}
            {{ form_widget(edit_form.technology) }}
            {{ form_errors(edit_form.technology) }}

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Edit"/>
        </div>
        {{ form_end(edit_form) }}

        <div class="form-group">
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-default" value="Delete">
            {{ form_end(delete_form) }}
        </div>

        <div class="form-group">
            <a href="{{ path('technology_index') }}" class="btn btn-default">Retour à la liste</a>
        </div>
    </div>
</div>

{% endblock %}
