{% extends 'base_admin.html.twig' %}
<<<<<<< HEAD
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
=======
{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
{#{% form_theme form 'form_div_layout.html.twig' %}#}
{% form_theme form 'form_table_layout.html.twig' %}
{#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}
{#{% form_theme form 'foundation_5_layout.html.twig' %}#}


{% block body %}
    <div class="container-fluid">
        <div class="row col-md-6">
>>>>>>> 62197da4798ee9e62866479ea4a73c093534e865

        <h3>Créer une nouvelle Technologie</h3>
        <div class="form-group">
            {{ form_start(form) }}

            {{ form_label(form.technology) }}
            {{ form_widget(form.technology) }}
            {{ form_errors(form.technology) }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Créer"/>
        </div>
        {{ form_end(form) }}

        <a href="{{ path('technology_index') }}" class="btn btn-primary">Retour à la liste</a>
    </div>
{% endblock %}
