{% extends 'base.html.twig' %}

{% block body %}
    <h1>Technology</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ technology.id }}</td>
            </tr>
            <tr>
                <th>Technology</th>
                <td>{{ technology.technology }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('technology_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('technology_edit', { 'id': technology.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
