{% extends 'layout_admin.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/bootstrap-select.min.css') }}">
    {% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row col-md-12">

            <h1>Wilders list</h1>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Photo De Profil</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Ville</th>
                    <th>Promotion</th>
                    <th>Useractivation</th>
                    <th>Manageractivation</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{ path('wilder_show', { 'id': wilder.id }) }}">
                        <img src="{{ asset('uploads/'~ wilder.profilPicture|basename ) }}"
                             alt="{{ wilder.firstname }} {{ wilder.lastname }}"
                             class="imgIndexWilder">
                        </a>
                    </td>
                    <td>{{ wilder.firstname }}</td>
                    <td>{{ wilder.lastname }}</td>
                    <td>{{ wilder.city }}</td>
                    <td>{{ wilder.promotion.promotion }}</td>
                    <td>{{ wilder.userActivation ? 'Yes' : 'No' }} </td>
                    <td>{{ wilder.managerActivation ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('wilder_edit', { 'id': wilder.id }) }}" class="btn btn-success">
                            <span class="glyphicon glyphicon-pencil"></span> Modifier
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
