{% extends 'layout_admin.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}


{% block content %}

    <div class="container-fluid">


        <h3>Wilder: {{ wilder.firstname }} {{ wilder.lastname }}</h3>
        <h4>Email User: {{ wilder.user.email }}</h4>
        <h4>Username: {{ wilder.user.username }}</h4>
        <h4>Promotion : {{ wilder.promotion.promotion }}</h4>
        <div class="form-group">
            {{ form_start(edit_form) }}

            {{ form_label(edit_form.firstname,'Prénom') }}
            {{ form_widget(edit_form.firstname) }}
            {{ form_errors(edit_form.firstname) }}

            {{ form_label(edit_form.lastname,'Nom') }}
            {{ form_widget(edit_form.lastname) }}
            {{ form_errors(edit_form.lastname) }}

            {{ form_label(edit_form.birthDate,'Date de naissance') }}
            {{ form_widget(edit_form.birthDate) }}
            {{ form_errors(edit_form.birthDate) }}

            {{ form_label(edit_form.address,'Adresse') }}
            {{ form_widget(edit_form.address) }}
            {{ form_errors(edit_form.address) }}

            {{ form_label(edit_form.postalCode,'Code Postal') }}
            {{ form_widget(edit_form.postalCode) }}
            {{ form_errors(edit_form.postalCode) }}

            {{ form_label(edit_form.city,'Ville') }}
            {{ form_widget(edit_form.city) }}
            {{ form_errors(edit_form.city) }}

            {{ form_label(edit_form.freelanceAvailability,'Freelance') }}
            {{ form_widget(edit_form.freelanceAvailability) }}
            {{ form_errors(edit_form.freelanceAvailability) }}

            {{ form_label(edit_form.modjo,'Modjo') }}
            {{ form_widget(edit_form.modjo) }}
            {{ form_errors(edit_form.modjo) }}

            {{ form_label(edit_form.biography,'Biographie') }}
            {{ form_widget(edit_form.biography) }}
            {{ form_errors(edit_form.biography) }}

            {{ form_label(edit_form.contactEmail,'Email contact') }}
            {{ form_widget(edit_form.contactEmail) }}
            {{ form_errors(edit_form.contactEmail) }}

            <p class="instruction">Le format de l'image attendue doit être carrée:</p>
            {{ form_label(edit_form.profilPicture,'Photo Profil') }}
            <img src="{{ asset('uploads/'~ wilder.profilPicture|basename ) }}" class="imgEditWilder"/>
            {{ form_widget(edit_form.profilPicture) }}
            {{ form_errors(edit_form.profilPicture) }}

            <p class="instruction">Le fichier doit être au format pdf et ne doit pas dépasser 1Mo</p>
            {{ form_label(edit_form.cv,'CV') }}
            {% if wilder.cv =='' %}
            {% else %}
                <a href="{{ asset('uploads/' ~ wilder.cv) }}">voir le cv</a>
            {% endif %}
            {{ form_widget(edit_form.cv) }}
            {{ form_errors(edit_form.cv) }}

            {{ form_label(edit_form.website,'Site perso') }}
            {{ form_widget(edit_form.website) }}
            {{ form_errors(edit_form.website) }}

            {{ form_label(edit_form.github,'Github') }}
            {{ form_widget(edit_form.github) }}
            {{ form_errors(edit_form.github) }}

            {{ form_label(edit_form.linkedin,'Linkedin') }}
            {{ form_widget(edit_form.linkedin) }}
            {{ form_errors(edit_form.linkedin) }}

            {{ form_label(edit_form.facebook,'Facebook') }}
            {{ form_widget(edit_form.facebook) }}
            {{ form_errors(edit_form.facebook) }}

            {{ form_label(edit_form.twitter,'Twitter') }}
            {{ form_widget(edit_form.twitter) }}
            {{ form_errors(edit_form.twitter) }}

            {{ form_label(edit_form.codewarsUsername,'Identifiant Codewars') }}
            {{ form_widget(edit_form.codewarsUsername) }}
            {{ form_errors(edit_form.codewarsUsername) }}

            {{ form_label(edit_form.languages,'Langages') }}
            {{ form_widget(edit_form.languages) }}
            {{ form_errors(edit_form.languages) }}

            {{ form_label(edit_form.technologies,'Technologies') }}
            {{ form_widget(edit_form.technologies) }}
            {{ form_errors(edit_form.technologies) }}

            {{ form_label(edit_form.skill,'Compétences') }}
            {{ form_widget(edit_form.skill) }}
            {{ form_errors(edit_form.skill) }}

            {{ form_label(edit_form.availability,'Statut disponibilité') }}
            {{ form_widget(edit_form.availability) }}
            {{ form_errors(edit_form.availability) }}

            <div class="form-group">
                <p class="instruction">Afficher le profil (wilder)</p>
                {{ form_label(edit_form.userActivation,'Afficher le profil (wilder)') }}
                {{ form_widget(edit_form.userActivation) }}
                {{ form_errors(edit_form.userActivation) }}
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <div class="form-group">
                <p class="instruction">Afficher le profil (campus manager)</p>
                {{ form_label(edit_form.managerActivation,'Afficher le profil (campus manager)') }}
                {{ form_widget(edit_form.managerActivation) }}
                {{ form_errors(edit_form.managerActivation) }}
            </div>
            {% endif %}

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Edit"/>
        </div>


        {{ form(edit_form._token) }}
    </form>


    {% if is_granted('ROLE_ADMIN') %}
        <div class="form-group">
            <a href="{{ path('wilder_index') }}" class="btn btn-primary">Retour à la liste</a>
        </div>
    {% endif %}


    </div>
{% endblock %}