{% extends 'layout_admin.html.twig' %}

{% block content %}

    <div class="container-fluid">

        <div class="row col-md-12">

            <h1>Wilders list</h1>


            <table class="table table-condensed">

                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date Naissance</th>
                    <th>Adresse</th>
                    <th>CP</th>
                    <th>Ville</th>
                    <th>Modjo</th>
                    <th>Email user</th>
                    <th>Email contact sup</th>
                    <th>Photo Profil</th>
                    <th>Langages</th>
                    <th>Useractivation</th>
                    <th>Manageractivation</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for wilder in wilders %}
                    <tr>
                        <td><a href="{{ path('wilder_show', { 'id': wilder.id }) }}">{{ wilder.id }}</a></td>
                        <td>{{ wilder.lastname }}</td>
                        <td>{{ wilder.firstname }}</td>
                        <td>{% if wilder.birthDate %}{{ wilder.birthDate|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ wilder.address }}</td>
                        <td>{{ wilder.postalCode }}</td>
                        <td>{{ wilder.city }}</td>
                        <td>{{ wilder.modjo }}</td>
                        <td>{{ wilder.user.email }}</td>
                        <td>{{ wilder.contactEmail }}</td>
                        <td><img src="{{ asset('uploads/'~ wilder.profilPicture|basename ) }}"
                                 alt="{{ wilder.firstname }} {{ wilder.lastname }}" width="150px"></td>
                        <td>
                            <ul>
                                {% for language in wilder.languages %}
                                    <li>  {{ language.language }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{% if wilder.userActivation %}Yes{% else %}No{% endif %}</td>
                        <td>{% if wilder.managerActivation %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <a href="{{ path('wilder_edit', { 'id': wilder.id }) }}" class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span> Modifier
                            </a>
                            <a href="{{ path('wilder_delete', { 'id': wilder.id }) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href="{{ path('wilder_new') }}" role="button">Crée un nouveau wilder</a>
        </div>
    </div>
{% endblock %}
