{% extends 'base_admin.html.twig' %}

{% block body %}

<div class="container-fluid">

    <div class="row col-md-12">

    <h1>Projectwilders list</h1>

        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Visibility</th>
                    <th>Project Id</th>
                    <th>Project Title</th>
                    <th>Wilder</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for projectWilder in projectWilders %}
                <tr>
                    <td><a href="{{ path('projectwilder_show', { 'id': projectWilder.id }) }}">{{ projectWilder.id }}</a></td>
                    <td>{% if projectWilder.visibility %}Yes{% else %}No{% endif %}</td>
                    <td>{{ projectWilder.project.id }}</td>
                    <td>{{ projectWilder.project.title }}</td>
                    <td>{{ projectWilder.wilder.id }}</td>
                    <td>{{ projectWilder.wilder.lastname }}</td>
                    <td>
                        <a href="{{ path('projectwilder_edit', { 'id': projectWilder.id }) }}" class="btn btn-success">
                            <span class="glyphicon glyphicon-pencil"></span> edit
                        </a>
                        <a href="{{ path('projectwilder_delete', { 'id': projectWilder.id }) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span> delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-default" href="{{ path('projectwilder_new') }}" role="button">Create a new projectWilder</a>


    </div>
</div>
{% endblock %}
