{% extends 'layout_admin.html.twig' %}

{% block content %}

    <div class="container-fluid">
    <h1>Association Projet-Wilder id: {{ projectWilder.id }}</h1>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projectWilder.id }}</td>
            </tr>
            <tr>
                <th>Visibility</th>
                <td>{% if projectWilder.visibility %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Projet Id</th>
                <td>{{ projectWilder.project.id }}</td>
            </tr>
            <tr>
                <th>Nom Projet</th>
                <td>{{ projectWilder.project.title }}</td>
            </tr>
            <tr>
                <th>Wilder Id</th>
                <td>{{ projectWilder.wilder.id }}</td>
            </tr>
            <tr>
                <th>Nom Wilder</th>
                <td>{{ projectWilder.wilder.lastname }}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Delete">
        {{ form_end(delete_form) }}
    </div>

    <div class="form-group">
        <a href="{{ path('projectwilder_edit', { 'id': projectWilder.id }) }}" class="btn btn-primary">Edit</a>
    </div>

    <div class="form-group">
        <a href="{{ path('projectwilder_index') }}" class="btn btn-primary">Retour à la liste</a>
    </div>


    </div>
{% endblock %}
