<div class="slider">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        {% set plimit = homeProjects|length %}
        <div class="carousel-inner">
            {% for project in homeProjects %}
                {% if loop.first %}
                    <div class="item projet-item active">
                        <img src="{{ asset('images/slider01.jpg') }}" class="img_project_carousel" alt="slider01">
                        <div class="carousel-caption">
                            <h3>{{ project.title }}</h3>
                            <p>{{ project.homeTextProject }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="item projet-item">
                        <img src="{{ asset('images/slider01.jpg') }}" class="img_project_carousel" alt="slider01">
                        <div class="carousel-caption">
                            <h3>{{ project.title }}</h3>
                            <p>{{ project.homeTextProject }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


