{% extends 'layout_admin.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' 'jquery.collection.html.twig' %}
{% form_theme picture_form 'bootstrap_3_layout.html.twig' %}


{% block content %}

    <div class="container-fluid">

        <h1>{{ project.title }} <small> - pour {{ project.customer }}</small></h1>

        <div class="row">
            <div class="col-sm-7">
                <div class="well project-wilders">
                    {% for projectWilder in project.projectWilders if projectWilder.wilder.user.id == app.user.id %}
                        <a class="pull-right btn btn-danger"
                           href="{{ path('project_wilder_visibility', {'id':projectWilder.id}) }}">
                            {{ projectWilder.visibility ? 'Masquer ma participation au projet' : 'Afficher ma participation au projet' }}
                        </a>
                    {% endfor %}
                    <h2>Wilders ayant participés au projet : </h2>
                    <ul>
                        {% for projectWilder in project.projectWilders %}
                            <li>
                                <a class="lienWilders {{ projectWilder.visibility == 0 ? 'text-danger' }}"
                                   href="{{ path('profile_wilder', { 'id': projectWilder.wilder.id }) }}">
                                    {{ projectWilder.wilder.firstname }} {{ projectWilder.wilder.lastname }}
                                </a>
                                {% if projectWilder.visibility  %}
                                    <span class="text-success" title="visible"><i class="fa fa-eye"></i></span>
                                {% else %}
                                    <span class="text-danger" title="non visible"><i class="fa fa-eye-slash"></i></span>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="btn btn-xs btn-info"  href="{{ path('visibility_wilder_project', {'id':projectWilder.id}) }}" title="Afficher ou cacher la participation du wilder sur ce projet">Changer la visibilité</a>
                                    {{ render(controller('BookBundle:Project:removeWilder', {'id':projectWilder.id} )) }}
                                {% endif %}
                            </li>
                            {% else %}
                            Il n'y a pas encore de wilder associés à ce projet
                        {% endfor %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProjectWilder">
                                Ajouter un wilder au projet
                            </button>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="well project-pictures">
                    <h2>Images du projet :</h2>
                    <!-- Button trigger modal -->
                    {% for picture in project.pictures %}
                            <img src="{{ asset('uploads/'~ picture.path|basename ) }}" class="imgEditProjet "/>
                            {% if picture.isPrincipal %}
                                <span title="Image principale" class="label label-warning"><i class="fa fa-star"></i></span>
                             {% endif %}
                            <a class="btn btn-danger btn-xs" href="{{ path('picture_delete', { 'id': picture.id }) }}"><i class="fa fa-trash"></i></a>
                    {% endfor %}
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                            Charger une image
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            {{ form_start(edit_form) }}

            <div class="container">

                {{ form_row(edit_form.title) }}
                {{ form_row(edit_form.customer) }}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="form-group">
                        {{ form_label(edit_form.school,'École') }}
                        {{ form_widget(edit_form.school) }}
                        {{ form_errors(edit_form.school) }}
                    </div>
                {% endif %}
                {{ form_row(edit_form.date) }}
                {{ form_row(edit_form.status) }}
                {{ form_row(edit_form.category) }}
                {{ form_row(edit_form.summary) }}
                {{ form_row(edit_form.description) }}
                {{ form_row(edit_form.path) }}
                {{ form_row(edit_form.tags) }}
                {{ form_row(edit_form.technologies) }}
                {{ form_row(edit_form.languages) }}

            </div>


            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Valider"/>
            </div>

           {{ form_end(edit_form) }}

        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Charger une image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    {# upload images de projet #}
                    <div class="modal-body">
                        {{ form_start(picture_form, {'action':path('picture_new', {'id':project.id})}) }}

                        <p class="instruction">Le format de l'image attendue est:</p>
                        {{ form_label(picture_form.path,'Image') }}
                        {{ form_widget(picture_form.path) }}
                        {{ form_errors(picture_form.path) }}

                        <p class="instruction">Cocher si cette image est l'image principale</p>
                        {{ form_label(picture_form.isPrincipal) }}
                        {{ form_widget(picture_form.isPrincipal) }}
                        {{ form_errors(picture_form.isPrincipal) }}

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-success" value="Sauvegarder"/>
                    </div>
                    {{ form_end(picture_form) }}

                </div>
            </div>
        </div>
        <div class="modal fade" id="addProjectWilder" tabindex="-1" role="dialog"
             aria-labelledby="addProjectWilder" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un wilder au projet</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        {{ render(controller('BookBundle:Project:addWilder', {'id':project.id})) }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                    {{ form_end(picture_form) }}

                </div>
            </div>
        </div>

        <div class="form-group">
            <a href="{{ path('project_index') }}" class="btn btn-primary">Retour à la liste</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.wilders_project_collection').collection({
            add: '<a class="btn btn-sm btn-warning href="#">Ajouter un wilder</a>',
            remove: '<a href="#">Delete wilder</a>',
            allow_up: false,
            allow_down: false,
            add_at_the_end: true,
        });
    </script>
{% endblock javascripts %}
