{% extends 'layout_admin.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% form_theme picture_form 'bootstrap_3_layout.html.twig' %}


{% block content %}

    <div class="container-fluid">

        <h3>{{ project.title }}</h3>
        <h4>Wilders ayant réalisé ce projet : </h4>
        <ul>{% for projectWilders in project.projectWilders %}
                <li>{{ projectWilders.wilder.firstname }}{{ projectWilders.wilder.lastname }}</li>
            {% endfor %}</ul>
        <div class="form-group">
            {{ form_start(edit_form) }}

            {{ form_label(edit_form.title,'Titre') }}
            {{ form_widget(edit_form.title) }}
            {{ form_errors(edit_form.title) }}

            {{ form_label(edit_form.customer,'Client') }}
            {{ form_widget(edit_form.customer) }}
            {{ form_errors(edit_form.customer) }}

            {{ form_label(edit_form.date,'Date') }}
            {{ form_widget(edit_form.date) }}
            {{ form_errors(edit_form.date) }}

            {{ form_label(edit_form.status,'Statut') }}
            {{ form_widget(edit_form.status) }}
            {{ form_errors(edit_form.status) }}

            {{ form_label(edit_form.description,'Description') }}
            {{ form_widget(edit_form.description) }}
            {{ form_errors(edit_form.description) }}

            {{ form_label(edit_form.path,'Url') }}
            {{ form_widget(edit_form.path) }}
            {{ form_errors(edit_form.path) }}

            {{ form_label(edit_form.tags,'Tags') }}
            {{ form_widget(edit_form.tags) }}
            {{ form_errors(edit_form.tags) }}

            {{ form_label(edit_form.summary,'Résumé') }}
            {{ form_widget(edit_form.summary) }}
            {{ form_errors(edit_form.summary) }}

            {{ form_label(edit_form.category,'Catégorie') }}
            {{ form_widget(edit_form.category) }}
            {{ form_errors(edit_form.category) }}

            {{ form_label(edit_form.technologies,'Technologies') }}
            {{ form_widget(edit_form.technologies) }}
            {{ form_errors(edit_form.technologies) }}

            {{ form_label(edit_form.languages,'Langages') }}
            {{ form_widget(edit_form.languages) }}
            {{ form_errors(edit_form.languages) }}

            {{ form_label(edit_form.school,'École') }}
            {{ form_widget(edit_form.school) }}
            {{ form_errors(edit_form.school) }}

            {{ form_widget(edit_form) }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Valider"/>
        </div>
        {{ form_end(edit_form) }}

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Charger une image
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Charger une image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    {# upload images de projet #}
                    <div class="modal-body">
                        {{ form_start(picture_form, {'action':path('picture_new', {'id':project.id})}) }}

                        {{ form_label(picture_form) }}
                        {{ form_widget(picture_form) }}
                        {{ form_errors(picture_form) }}

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-success" value="Sauvegarder"/>
                    </div>
                    {{ form_end(picture_form) }}

                </div>
            </div>
        </div>


        <div class="form-group">
            <a href="{{ path('project_index') }}" class="btn btn-primary">Retour à la liste</a>
        </div>


    </div>
{% endblock %}
