{% extends 'base_admin.html.twig' %}

{% block body %}


<div class="container-fluid">

    <div class="row col-md-12">

    <h1>Projects list</h1>

        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Customer</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Summary</th>
                    <th>Category</th>
                    <th>School</th>
                    <th>Tags</th>
                    <th>Languages</th>
                    <th>Technologies</th>
                    <th>Url</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                {{ dump(project ,project.category) }}
                <tr>
                    <td><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                    <td>{{ project.title }}</td>
                    <td>{{ project.customer }}</td>
                    <td>{% if project.date %}{{ project.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ project.status }}</td>
                    <td>{{ project.summary }}</td>
                    <td>{{ project.category.label }}</td>
                    <td>{{ project.school.school }}</td>

                    <td>{% for tags in project.tags %}
                            {{ tags.tag }}{% if not loop.last %}, {% endif %}
                        {% endfor %}</td>
                    <td>{% for languages in project.languages %}
                            {{ languages.language }}{% if not loop.last %}, {% endif %}
                        {% endfor %}</td>
                    <td>{% for technologies in project.technologies %}
                            {{ technologies.technology }}{% if not loop.last %}, {% endif %}
                        {% endfor %}</td>
                    <td>{{ project.path }}</td>
                    <td>
                        <a href="{{ path('project_edit', { 'id': project.id }) }}" class="btn btn-success">
                            <span class="glyphicon glyphicon-pencil"></span> Modifier
                        </a>
                        <a href="{{ path('project_delete', { 'id': project.id }) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('project_new') }}" role="button">Create a new project</a>

    </div>
</div>

{% endblock %}
