{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}

    <div class="container">

        <h1>Sélection des projets mis en avant sur le site</h1>
        <p class="instruction">Choisissez le projet par son nom via l'autocomplétion,
            cliquer ensuite sur son nom pour le sélectionner,
            renseigner dans le champ description la phrase d'accroche qui sera mise en avant</p>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul id="projectList"></ul>
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax_home_admin.js') }}"></script>
{% endblock javascripts %}