{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}

    <div class="container">

        <h1>Sélection des projets mis en avant sur le site</h1>
        <p class="instruction">Choisissez le projet par son nom via l'autocomplétion,
            cliquer ensuite sur son nom pour le sélectionner,
            renseigner dans le champ description la phrase d'accroche qui sera mise en avant</p>


        {{ form_start(form) }}
        {{ form_widget(form) }}
        <ul id="projectList"></ul>
        <input type="submit" class="btn btn-success " value="Create"/>
        {{ form_end(form) }}

        <hr/>
        <h2>Projets actuellement mis en avant</h2>
        {% if homeProjects %}
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>Projet</th>
                <th>École</th>
                <th>Description</th>
                <th>Retirer</th>
            </tr>
            </thead>
            <tbody>

            {% for homeProject in homeProjects %}
                <tr>
                    <td>{{ homeProject.title }}</td>
                    <td>{{ homeProject.school.school }}</td>
                    <td>{{ homeProject.homeTextProject }}</td>
                    <td><a href="{{ path('project_reset', {'id': homeProject.id}) }}" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i> Retirer</a></td>
                </tr>
            {% endfor %}

            </tbody>
            {% else %}
                Aucun projet
            {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax_home_admin.js') }}"></script>
{% endblock javascripts %}