{% extends 'base_admin.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <h3>Créer un nouveau tag</h3>
        <div class="form-group">
            {{ form_start(form) }}

            {{ form_label(form.tag) }}
            {{ form_widget(form.tag) }}
            {{ form_errors(form.tag) }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Créer"/>
            <a href="{{ path('tag_index') }}" class="btn btn-default">Retour à la liste</a>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}

